body {
    text-align: center;
    background: url("images/cbbackground.jpeg") top center repeat;

    h2 {
      font-family: 'Atma', cursive;
      font-size: 3rem;
    }
    .character-container {
        width: 65%;
        margin: 0 auto;
        .story {
          text-align: justify;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }

        .character {
            display: inline-block;
            width: 24%;
            // border: 2px solid black;

            &:hover {
              // transform: scale(1.2);
            }
            img {
                width: 100%;
                // border-bottom: 2px solid black;
            }
            li {
                list-style-type: none;
                text-align: left;
            }
        }
    }
    .hidden {
      display: none;
    }
    .victory {
        div {
            width: 200px;
            border: 2px solid black;
            text-align: center;
            font-size: 1.5rem;
            padding: 1.3rem;
            position: relative;
            border-radius: 10px;
            margin: 0 auto;
        }
        div::before {
            content: '';
            position: absolute;
            top: 96px;
            right: 5px;
            border-width: 15px 10px 0;
            border-style: solid;
            border-color: black transparent;
            display: block;
            width: 0;
        }
        div::after {
            content: '';
            position: absolute;
            top: 96px;
            right: 8.2px;
            border-width: 10px 7px 0;
            border-style: solid;
            border-color: white transparent;
            display: block;
            width: 0;
        }
    }
    .result-img {
        margin-top: 1rem;
        border-radius: 5px;
        border: 1px solid black;
    }
}
@import '_variables';

body {
  background-color: #eee;
}

.icon {
  font-size: 256px;
  text-align:center;
  color: #2DAEBF;
  text-shadow:
    0px 2px 0px #0092B3,
    // 0px 2px 1px #0087A6,
    // 0px 3px 0px #008099,
    // 0px 4px 0px #00758c,
    0px 5px 2px #555;
    // 0px 6px 0px #006a80,
    // 0px 0px 0px #006073,
    // 0px 8px 7px #005566;
    transition: all 0.125s;
  }
.icon:active {
  font-size: 276px;
}
.cheer {
  color: #F4B7D1;
  &:hover {
    color: #F0A5C8;
  }
}
.luck {
  color: #2BAB55;
  &:hover {
    color: #1E8A10;
  }
}
.grump {
  color: #3489CB;
  &:hover {
  color: #3468CB;
  }
}
.brave {
  color: #E8A732;
  &:hover {
    color: #E38605;
  }
}
